<div class="container d-flex justify-content-center mt-5">
  <div class="card" style="width: 25rem;">
    <%= image_tag 'logo', class: 'm-3' %>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3">
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'Phone number, username or Email address' %>
        </div>
        <div class="mb-3">
          <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "current-password", placeholder: 'Password' %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary w-100"%>
      <% end %>
    </div>
  </div>
</div>


<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
