
<div id="<%= dom_id post %>" class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <%= render "user/avatar", user: post.user %>
        <span class="d-inline-block ms-2">
          <%= post.user.username %>
        </span>
      </div>
      <div class="dropdown">
        <a class="text-dark fs-4 text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ...
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <% carousel_id = dom_id post, 'images_carousel' %>
  <div id="<%= carousel_id %>" class="carousel slide">
    <div class="carousel-indicators">
      <% post.images.each_with_index do |img, index| %>
        <button type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide-to="<%= index %>"  class="bg-dark <%= index == 0 ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% post.images.each_with_index do |img, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%= image_tag img, class: 'w-100 d-block' %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#<%= carousel_id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card-body">
    <div class="card-text">
      <div><span class="fw-bold"><%= post.user.username %></span> <%= post.caption %></div>
      <small class="text-muted"><%= time_ago_in_words post.created_at %></small>
    </div>
    <div class="mt-2">
      <%= render "post_actions", post: post %>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <input class="form-control" type="text" placeholder="Add a comment..." />
    <a class="btn btn-primary ms-2">Post</a>
  </div>
</div>
