<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', height: 36 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex me-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div>
        <%= link_to root_path, class: 'text-dark text-decoration-none me-2' do %>
          <%= svg_icon 'house', class: 'fs-2' %>
        <% end %>

        <button class='text-dark text-decoration-none me-2 border-0 bg-transparent' data-bs-toggle="modal" data-bs-target="#post-modal">
          <%= svg_icon 'plus-square', class: 'fs-2 text-dark' %>
        </button>

        <span class="dropdown">
          <a type="button" class="ms-2" data-bs-toggle="dropdown" aria-expanded="false">
            <%= render "user/avatar", user: current_user %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= button_to "Sign out", destroy_user_session_path,  class: 'dropdown-item', method: :delete %>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</nav>
